@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
}
button {
  width: 150px;
  padding: px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
  color: yellow;
  margin-left: 300px;
  margin-top: 100px;
}
img {
  width: 150px;
  padding: 20px;
}
.para1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 100px;
  color: darkgoldenrod;
  text-align: center;
}
.para2 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  margin-right: 20px;
  word-spacing: 30px;
  letter-spacing: 3px;
  color: darkseagreen;
  text-transform: uppercase;
}
.para3 {
  margin-top: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.head {
  text-align: center;
  font-size: 80px;
}
.reset {
  width: 150px;
  padding: 30px;
}
