* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(7, 55, 151, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}
#Calculator {
  max-width: 500px;
  background-color: rgb(22, 22, 34);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 52%,
    rgba(253, 187, 45, 1) 100%
  );
}

#display {
  width: 100%;
  padding: 25px;
  font-size: 5rem;
  background-color: black;
  border: none;
  overflow: hidden;
  color: white;
  text-align: right;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 10px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: rgb(74, 74, 74);
  color: white;
  font-size: 3rem;
  cursor: pointer;
}
button:hover {
  background-color: aliceblue;
  color: black;
}
button:active {
  background-color: blue;
}
.operators {
  background-color: rgb(27, 243, 27);
}
.operators:hover {
  background-color: pink;
}
.operators:active {
  background-color: red;
}
.clear {
  background-color: orange;
}
