@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1523287562758-66c7fc58967f");
  background-size: cover;
  background-position: center;
}
.container {
  width: 600px;
  height: 650px;
  margin: 100px auto;
  border: 2px solid black;
  background: transparent;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}
.parent {
  width: 570px;
  height: 620px;
  border: 3px solid black;
  background: transparent;
  margin: 20px auto;
  border-radius: 20px;
}
h1 {
  text-align: center;
  padding: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.input {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #00ff88;
  font-size: 20px;
  outline: none;
}
.input2 {
  width: 100%;
  height: 70px;
  font-size: 30px;
  text-align: center;
  border: 3px solid rebeccapurple;
  outline: none;
  border-radius: 10px;
}
.bu1 {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
button {
  width: 120px;
  padding: 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: blue;
  color: #b7a0b2;
}
button:hover {
  background-color: brown;
  transition: 0.5s;
}
.bu2 {
  display: flex;
  justify-content: space-around;
}
.bu2 button {
  width: 160px;
  padding: 20px;
  background-color: #ff4fd8;
  color: brown;
  letter-spacing: 2px;
}
.bu2 button:hover {
  background-color: chocolate;
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(127, 42, 232, 0.7);
  color: aliceblue;
}
.bu2 button:active {
  background-color: aliceblue;
}
.input:disabled {
  background: #000;
  box-shadow: none;
  color: transparent;
}
